<template>
    <v-app>
        <v-app-bar
                app
                color="primary"
                dark
        >
        </v-app-bar>
        <v-content>
            Fuck
        </v-content>
    </v-app>
</template>
<script>
    export default {
        name: 'HomePage',

        data: ()=>({

        })
    }
</script>
