.loginComponent__container {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: 50px repeat(3, 62px);
  grid-row-gap: 15px;
  justify-items: stretch;
}

.loginComponent__container_header {
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.loginComponent__field {
  line-height: 1.2;
  font-size: 18px;
  color: #403866;
}

.loginComponent__login_field {

}

.loginComponent__password_field {

}

.loginComponent__container_submit:hover {
  background-color: #403866;
}

.loginComponent__container_submit {
  background-color: #827ffe;
  color: #fff;
  line-height: 1.2;
  font-size: 16px;
  border-radius: 5px;
}
