<div class="container">
<form (ngSubmit)="submit()" [noValidate]="false" class="login_form">
    <span class="login_form__header">
        {{config.title}}
    </span>
    <mat-form-field class="login_form__field-container">
        <input matInput placeholder="{{config.loginConfig.title}}" [(ngModel)]="person.login"
               class="login_form__field"
               name="login"  required>
    </mat-form-field>

    <mat-form-field class="login_form__field-container">
        <input matInput placeholder="{{config.passwordConfig.title}}" [(ngModel)]="person.password"
               name="password" type="password" required minlength="4">
    </mat-form-field>

    <button mat-button type="submit" class="login_form__submit-button">Войти</button>
</form>
</div>
