.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;

  .login_form {
    display: flex;
    flex-direction: column;
    width: 350px;

    .login_form__header {
      line-height: 1.2;
      text-align: center;
      width: 100%;
      font-size: 30px;
      padding-bottom: 40px;
    }

    .login_form__field-container {
      background-color: #e6e6e6;
      border: 1px solid transparent;
      border-radius: 3px;
      margin-bottom: 16px;
    }

    .login_form__submit-button {
      width: 100%;
      height: 62px;
      background-color: #827ffe;
    }
  }
}